<div class="bottom-container">

  <table class="contactTable">
    <tr>
      <td class="littleSpacing">
        <table class="firstTable">
          <td><img src="images/linkedin.png" alt="linkedin-img" width="30px;"></td>
          <td><a class="footer-link" target = "_blank" href="https://www.linkedin.com/in/ahmetserteser/">LinkedIn</td>
      </td>
      <td class="littleSpacing">
        <table class="secondTable">
          <td><img src="images/instagram.png" alt="instagram-logo" width="30px;"></td>
          <td><a class="footer-link" target = "_blank" href="https://www.instagram.com/ahmetsrtsr/">Instagram</td>
      </table>
      </td>
      <td class="littleSpacing">
        <table class="thirdTable">
          <td><img src="images/discord.png" alt="discord-img" width="30px;"></td>
          <td><a class ="footer-link">Serteser#7175</td>
      </td>
    </tr>

  </table>

  </table>

  <p class="designed-by">© 2023 January by Ahmet Serteser. All rights reserved.</p>
</div>




<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="js/index.js" charset="utf-8"></script>
</body>

</html>
