/*______________________________________________________________Tag Selectors*/
body{
margin: 0;
background-color: #0d1117;
}
table{
  border: 2px solid white;
  text-align: center;
  display: inline-block;
}
td{
  color:white;
  border: 1px solid white;
}
td.item-name{
  width: 250px;
}
td.cell{
  width: 100px;
}
tr:hover{
  background-color: coral;
}
td.img{
  display: flex;
  align-content: center;
}
h5{
  color:white;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*____________________________________________________________Class Selectors*/
/* Buttons */
.btn{
  margin: 0.5% 0;
  height: 50px;
  width: 50px;
  display: inline-block;
  background-size: cover;
  font-family: Montserrat, serif;
  font-weight: 900;
  border-radius: 10px;
  border: 0.5px solid #0d1117;
  background-color: #0d1117;
  color:green;
}


/* Navigation Bar */
.navbar-item{
padding: 0 3%;
width: 170px;
text-align: left;
}
.navbar-brand{
padding-left: 3%;
font-weight: 900;
text-shadow: -0.5px 0 red, 0 0.5px red, 0.5px 0 red, 0 -0.5px red;
color: white;
}
.navbar-nav{
padding: 2% 3% 0;
text-align: center;
display: flex;
align-content: center;
}
.nav-link{
color: white;
text-shadow: -0.5px 0 green, 0 0.5px green, 0.5px 0 green, 0 -0.5px green;
text-align: center;
}

/* General */
.setPrice{
  width: 120px;
  background-color: #1B2B33;
  color: white;
}
.newPriceBtn:hover{
  background-color: #0d1117;
}
.box{
  display: inline-block;
}
.cell-lastUpdate{
  width: 150px;
}
.rarity-normal{
  background: linear-gradient(315deg, #0d1117 50%, #303030 90%);
}
.rarity-uncommon{
  background: linear-gradient(315deg, #0d1117 50%, #243b08 90%);
}
.rarity-rare{
  background: linear-gradient(315deg, #0d1117 50%, #05384f 90%);
}
.rarity-epic{
  background: linear-gradient(315deg, #0d1117 50%, #2f1440 90%);
}
.rarity-legendary{
  background: linear-gradient(315deg, #0d1117 50%, #a86101 90%);
}
.gold-image{
  width: 20px;
}
.tradeItemsColumn{
 text-align: center;
}
.item-image{
  width: 70px;
}
